*{
    margin: 0px;
    padding: 0px;
}

body{
    background: gray;
}

.logo{
    width: 100px;
    height: 100px;
}

header, .contenido, footer{
    background:white;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background: yellow;
    overflow: hidden;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a {
    padding: 15px 5px;
    display: block;
    text-decoration: none;
    color:red;
}

.contenido .post{
    width:79%;
    float:left;
    background: yellow;
    margin-right: 1%;
}

.contenido .post article{
   background: white;
   padding: 20px;
   padding-bottom: 10px;
   
}

aside{
    background: red;
    width: 20%;
    float: left;
    padding: 3px;
    box-sizing: border-box;
}

footer{
    background: firebrick;
    clear: both;
    bottom: 0;
    position: fixed;
}